* {
    margin: 0;
    height: 40%;
}

body {
    width: 100%;
    background-color: #1C1C1C;
}

.img-container {
    background-image: url(./imagens/menu-brackground.jpg);
    height: 250%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

nav {
    text-align: center;
    position: absolute;
    width: 100%;
    color: white;
    height: 100px;
}

h1 {
    font-size: 4em;
    font-family: 'Bebas Neue', cursive;
    margin-top: 1px;
    text-align: center;
    font-weight: 400;
    color: white;
}

h2 {
    padding-top: 19px;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 1px;
    font-weight: 400;
    color: white;
}

a {
    margin-top: 20px;
    font-size: 1.3em;
    font-family: 'Bebas Neue', cursive;
}

p {
    font-size: 19px;
    text-align: left;
    margin-left: 33.90%;
    padding-top: 12px;
}

footer {
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding-top: 20%;
    margin-left: 10%;
}

form {
    font-size: 19px;
    text-align: left;
    margin-left: 45.90%;
    padding-top: 12px;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

input {
    border-radius: 2px;
    border: solid;
    border-color: white;
    height: 15px;
}

.foto-campeao1 {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

.anderson-silva {
    display: inline-block;
    width: 200px;
    padding-top: 2%;
    padding-left: 22%;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.foto-campeao2 {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

.vitor-belfort {
    width: 200px;
    text-align: left;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.mc-gregor {
    width: 200px;
    text-align: left;
    display: inline-block;
    padding-left: -1%;
    padding-right: 1%;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.foto-campeao3 {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

.Lyoto-Carvalho {
    width: 200px;
    text-align: left;
    display: inline-block;
    padding-left: -1%;
    padding-right: 1%;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.foto-campeao4 {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

.junior-cigano {
    width: 200px;
    text-align: left;
    display: inline-block;
    padding-left: -1%;
    padding-right: 10%;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}

.foto-campeao5 {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

.spider {
    text-align: center;
}

.belfort {
    text-align: center;
}

.greg {
    text-align: center;
}

.machida {
    text-align: center;
}

.cigano {
    text-align: center;
}

.esp {
    letter-spacing: 1px;
}

.aceito {
    color: white;
    font-family: 'Bebas Neue', cursive;
    padding-top: 42%;
    text-align: center;
}

.footer2 {
    padding-top: 45%;
}

.footer3 {
    padding-top: 5%;
}

.texto {
    text-align: center;
}

.campeoes {
    padding-top: 7%;
}

.dados {
    padding-top: 1px;
    font-size: 1em;
    font-family: 'Bebas Neue', cursive;
    margin-top: 1px;
    margin-left: 1.7%;
    text-align: center;
    font-weight: 400;
    color: white;
}

.botao-menu {
    display: inline-block;
    width: 100px;
    height: 20px;
    font-weight: bold;
    padding: 10px;
    color: #ffffff;
    border: 4px solid #ffffff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: backgorund-color 0.2s ease-out, color 0.2s ease-out;
}

.botao-menu:hover, .botao-menu:active {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.2s ease-in, color 0.2s ease-in, ;
}

@media only screen and (max-width: 590px) {
    .botao-menu {
        max-width: 100%;
        width: 50%;
        padding: 3px;
    }
    .dados {
        padding-top: 60px;
        font-size: 12px;
        font-family: 'Bebas Neue', cursive;
        margin-top: 1px;
        margin-left: 1.7%;
        text-align: center;
        font-weight: 400;
        color: white;
    }
    .evento {
        font-size: 13px;
        padding-top: 40%;
    }
    .dados2 {
        font-size: 12px;
        margin-left: -19%;
        padding-bottom: 20%;
    }
    .rodape {
        padding-top: 130%;
        margin-left: -40%;
    }
    p {
        font-size: 12px;
        text-align: left;
        margin-left: 33.90%;
        padding-top: 20px;
    }
    form {
        font-size: 15px;
        text-align: left;
        margin-left: 30%;
        padding-top: 12px;
        color: white;
        font-family: 'Bebas Neue', cursive;
    }
    .img-container {
        background-image: url(./imagens/backgroundmobile.png);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
    .footer2 {
        padding-top: 220%;
        margin-left: -28%;
    }
    .aceito {
        color: white;
        font-family: 'Bebas Neue', cursive;
        padding-top: 180%;
        text-align: center;
    }
    .ins {
        font-size: 50px;
        padding-top: 30%;
    }
    .titulo {
        font-size: 40px;
    }
    .campeoes {
        font-size: 50px;
        padding-top: 50%;
    }
    .vitor-belfort {
        width: 200px;
        text-align: left;
        display: inline-block;
        padding-left: 22%;
        padding-right: 1%;
        color: white;
        font-family: 'Bebas Neue', cursive;
    }
    .mc-gregor {
        width: 200px;
        text-align: left;
        display: inline-block;
        padding-left: 22%;
        padding-right: 1%;
        color: white;
        font-family: 'Bebas Neue', cursive;
    }
    .Lyoto-Carvalho {
        width: 200px;
        text-align: left;
        display: inline-block;
        padding-left: 22%;
        padding-right: 1%;
        color: white;
        font-family: 'Bebas Neue', cursive;
    }
    .junior-cigano {
        width: 200px;
        text-align: left;
        display: inline-block;
        padding-left: 22%;
        padding-right: 10%;
        color: white;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 1px;
    }
    .footer33 {
        margin-left: 3.9%;
    }
}